section{
  height: 100vh;
}

#firstScreen{
  background-color : blue;
}

html, body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

#titleSectionTwo{
  margin-top: 2em;
}

#myCarousel{
  margin-top: 125px;
}